.accordion {
    --bs-accordion-bg: none;
    --bs-accordion-btn-color: rgb(227, 242, 253);
    --bs-accordion-btn-bg: none;
    --bs-accordion-active-bg: none;
    --bs-accordion-color: none;
    --bs-accordion-active-color: rgb(227, 242, 253);
    --bs-accordion-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;

}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

/* Collapsed state: plus */
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(227,242,253)' viewBox='0 0 16 16'%3E%3Cpath d='M8 1v14M1 8h14' stroke='rgb(227,242,253)' stroke-width='2'/%3E%3C/svg%3E");
    transition: all 0.2s;
}

/* Expanded state: minus */
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(227,242,253)' viewBox='0 0 16 16'%3E%3Cpath d='M1 8h14' stroke='rgb(227,242,253)' stroke-width='2'/%3E%3C/svg%3E");
}