.leftSide {
    flex: 2;
}

.header {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.elevatorPitch,.devLoadouts {
    flex: 1;
    background-color: rgba(87, 131, 177, 0.5);
}

.rightSide {
    flex: 1;
}

.custom-border {
    border: 4px solid rgba(87, 131, 177, 0.5);
}

.profileDetails {
    width: 100%;
    padding: 1rem;
    background-color: rgba(87, 131, 177, 0.5);
}

.profileImage {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
}

.socialLinks {
    background-color: rgba(87, 131, 177, 0.5);
}

.etC {
    flex: 1;
    background-color: rgba(87, 131, 177, 0.5);
}

.max-w {
    max-width: 155px;
}

@media (max-width: 1400px) {
    .leftSide {
        order: 2;
        /* push leftSide below rightSide */
    }

    .rightSide {
        order: 1;
        /* rightSide goes on top */
    }
}