.custom-nav {
    background: rgba(28, 87, 137, 0.65);
}

.custom-nav .navbar-brand {
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    color: rgb(227, 242, 253);
    font-weight: bold;
}

.custom-nav .container-fluid {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.custom-nav .nav-link {
    color: rgb(227, 242, 253);
    font-weight: bold;
}

.custom-nav .nav-link:hover {
    color: #FFD700;
}

.custom-nav .nav-link.active {
    color: #FFFF00;
}

/* Responsive adjustments scoped to this navbar */
@media (max-width: 992px) {
    .custom-nav .navbar-brand {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 1400px) {
    .custom-nav .navbar-brand {
        padding: 0rem;
    }
}