.cookingArea {
    background: rgba(28, 86, 137, 0.5);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}

@media (max-width: 992px) {
    #cookingArea {
        border-radius: 0.45rem;
    }
}

